@import "bootstrap/scss/reboot";

body {
	overflow-y: auto;
}

main {
	min-height: 100vh;
}

body::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar {
	width: 6px;
}

body::-webkit-scrollbar-thumb {
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	background: $primary;
	border-radius: 8px;
}

::-webkit-scrollbar-track {
	background: $body-bg;
}

::selection {
	background: rgba($primary, 0.3);
	color: $primary;
}

a {
	transition: color 0.3s ease-in-out;
}
