@import "bootstrap/scss/functions";
@import "variables";
@import "bootstrap/scss/maps";
@import "mixins";
@import "utilities";
@import "bootstrap/scss/root";

@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/forms";
@import "components/buttons";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/button-group";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar";
@import "components/card";
@import "components/tag";
@import "components/alert";
@import "bootstrap/scss/list-group";
@import "components/close";
@import "bootstrap/scss/modal";
@import "bootstrap/scss/placeholders";

@import "bootstrap/scss/helpers";

@import "bootstrap/scss/utilities/api";

body {
	overflow-y: auto;
}

main {
	min-height: 100vh;
}

pre {
  background-color: rgba(255, 255, 255, 0.02);
  padding: 1rem;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: hsl(240 3.7% 15.9%);
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

* {
  scrollbar-color: hsl(240 3.7% 15.9%) transparent;
  scrollbar-width: thin;
}

::selection {
	background: rgba($primary, 0.3);
	color: $primary;
}

a {
	transition: color 0.3s ease-in-out;
}

@import "plugins/markdown";
