// Color system

$white:    #fff !default;
$gray-100: #e3e3e3 !default;
$gray-200: #c8c8c8 !default;
$gray-300: #a4a4a4 !default;
$gray-400: #818181 !default;
$gray-500: #666666 !default;
$gray-600: #515151 !default;
$gray-700: #434343 !default;
$gray-800: #383838 !default;
$gray-900: #171717 !default;
$black:    #000 !default;

$grays: (
	"gray-100": $gray-100,
	"gray-200": $gray-200,
	"gray-300": $gray-300,
	"gray-400": $gray-400,
	"gray-500": $gray-500,
	"gray-600": $gray-600,
	"gray-700": $gray-700,
	"gray-800": $gray-800,
	"gray-900": $gray-900
) !default;

$blue:    #6564ff !default;
$indigo:  #6366F1 !default;
$violet:  #8B5CF6 !default;
$purple:  #A855F7 !default;
$pink:    #f3a4b5 !default;
$red:     #EF4444 !default;
$orange:  #F97316 !default;
$yellow:  #ffd600 !default;
$green:   #22C55E !default;
$teal:    #14B8A6 !default;
$cyan:    #06B6D4 !default;

$colors: (
	"blue":       $blue,
	"indigo":     $indigo,
	"violet":     $violet,
	"purple":     $purple,
	"pink":       $pink,
	"red":        $red,
	"orange":     $orange,
	"yellow":     $yellow,
	"green":      $green,
	"teal":       $teal,
	"cyan":       $cyan,
	"white":      $white,
	"gray":       $gray-100,
	"gray-dark":  $gray-900
) !default;

$primary:       rgb(146, 164, 184) !default;
$secondary:     $gray-400 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-900 !default;

$enable-negative-margins: true !default;
$enable-shadows:          true !default;

$enable-dark-mode:        false !default;

$prefix:                  bs- !default;

$spacer: 1rem !default;
$spacers: (
	0: 0,
	1: $spacer * 0.25,
	2: $spacer * 0.5,
	3: $spacer,
	4: $spacer * 1.5,
	5: $spacer * 3,
) !default;

@for $i from 6 through 20 {
	$spacers: map-merge($spacers, (
		$i: (($i + 1rem) * 0.5)
	))
}

// Body

$body-text-align:           null !default;
$body-color:                rgb(180, 180, 180) !default;
$body-bg:                   rgb(23, 23, 23) !default;

// Links

$link-decoration:                         none !default;

// Paragraphs

$paragraph-margin-bottom:   .675rem !default;

// Components

$border-width:                1px !default;

$border-color:                $gray-300 !default;

$border-radius:               .25rem !default;
$border-radius-sm:            .2rem !default;
$border-radius-lg:            .3rem !default;

$box-shadow:                  0 .5rem 1rem rgba($black, .15) !default;
$box-shadow-sm:               0 .125rem .25rem rgba($black, .075) !default;

$component-active-color:      $white !default;
$component-active-bg:         $primary !default;

$focus-ring-width:      0 !default;
$focus-ring-opacity:    .25 !default;
$focus-ring-color:      rgba($primary, $focus-ring-opacity) !default;
$focus-ring-blur:       0 !default;
$focus-ring-box-shadow: 0 2px $focus-ring-blur $focus-ring-width $focus-ring-color !default;

// Typography

$font-family-sans-serif:      Rubik, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

$font-size-base:              1rem !default; // Assumes the browser default, typically `16px`
$font-size-sm:                $font-size-base * .875 !default;
$font-size-lg:                $font-size-base * 1.25 !default;

$font-weight-lighter:         lighter !default;
$font-weight-light:           300 !default;
$font-weight-normal:          400 !default;
$font-weight-bold:            700 !default;

$font-weight-base:            $font-weight-normal !default;

$line-height-base:            1.5 !default;

$h1-font-size:                $font-size-base * 1.625 !default;
$h2-font-size:                $font-size-base * 1.25 !default;
$h3-font-size:                $font-size-base * 1.0625 !default;
$h4-font-size:                $font-size-base * .9375 !default;
$h5-font-size:                $font-size-base * .8125 !default;
$h6-font-size:                $font-size-base * .625 !default;

$hr-border-color:             rgb(38, 38, 38) !default;
$hr-opacity:                  .9 !default;

// Buttons + Forms

$input-btn-padding-y:         .375rem !default;
$input-btn-padding-x:         .75rem !default;
$input-btn-font-size:         $font-size-sm !default;

// Buttons

$btn-white-space:             nowrap !default; // Set to `nowrap` to prevent text wrapping

$btn-transition:              color .3s ease-in-out, background-color .3s ease-in-out, border-color .3s ease-in-out, box-shadow .3s ease-in-out, transform .3s ease-in-out !default;

// Navs

$nav-link-font-size:                $font-size-sm !default;
$nav-link-transition:               color .3s ease-in-out, background-color .3s ease-in-out, border-color .3s ease-in-out !default;

$nav-tabs-border-color:             $gray-300 !default;
$nav-tabs-border-width:             $border-width !default;
$nav-tabs-border-radius:            $border-radius !default;
$nav-tabs-link-hover-border-color:  $gray-200 $gray-200 $nav-tabs-border-color !default;
$nav-tabs-link-active-color:        $gray-700 !default;
$nav-tabs-link-active-bg:           $body-bg !default;
$nav-tabs-link-active-border-color: $gray-300 $gray-300 $nav-tabs-link-active-bg !default;

// Navbar

$navbar-nav-link-padding-x:         .95rem !default;

$navbar-brand-font-size:            $font-size-sm !default;

$navbar-toggler-transition:         box-shadow .3s ease-in-out !default;

// Dropdowns

$dropdown-padding-x:                .25rem !default;
$dropdown-padding-y:                .25rem !default;
$dropdown-spacer:                   .125rem !default;
$dropdown-font-size:                $font-size-sm  !default;

$dropdown-item-padding-y:           $spacer * .25 !default;
$dropdown-item-padding-x:           $spacer * 0.5 !default;

$dropdown-dark-bg:                  rgba(38, 38, 38, 0.6) !default;
$dropdown-dark-border-color:        rgba(38, 38, 38, 0.8) !default;

// Cards

$card-border-color:                 rgba(38, 38, 38, 0.8) !default;
$card-cap-bg:                       rgba(24, 24, 24, .1) !default;
$card-bg:                           rgba(38, 38, 38, 0.3) !default;

// Accordion

$accordion-bg:                            rgba(38, 38, 38, 0.3) !default;
$accordion-border-color:                  rgba(38, 38, 38, 0.8) !default;

$accordion-icon-width:                    1rem !default;

// Modals

$modal-inner-padding:               $spacer !default;

$modal-footer-margin-between:       .5rem !default;

$modal-dialog-margin:               1rem !default;
$modal-dialog-margin-y-sm-up:       1.75rem !default;

$modal-title-line-height:           $line-height-base !default;

$modal-content-bg:                  $dark !default;
$modal-content-border-color:        rgba($primary, .2) !default;

// Close

$btn-close-width:            none !default;
$btn-close-padding-x:        0 !default;
$btn-close-color:            $body-color !default;
$btn-close-bg:               none !default;
$btn-close-focus-shadow:     none !default;
$btn-close-hover-opacity:    .95 !default;
$btn-close-focus-opacity:    1 !default;

@import "bootstrap/scss/variables";
