@import "bootstrap/scss/alert";

.alert-dismissible {
	padding-right: $alert-dismissible-padding-r;

	// Adjust close link position
	.btn-close {
		position: absolute;
		top: 50%;
		right: 1.5rem;
		transform: translateY(-50%);
		z-index: $stretched-link-z-index + 1;
		padding: 0;
	}
}
