.loader-enter,
.loader-active,
.loader-leave-active,
.loader-leave,
.loader-leave-to,
.loader-enter-to {
	position: fixed;
	z-index: 999;
}

.loader-enter-active,
.loader-leave-active {
	transition: opacity 0.2s ease-in-out;
}

.loader-enter,
.loader-leave-to {
	opacity: 0;
}
