@import "~bootstrap/scss/breadcrumb";

.breadcrumb {
	padding: .45rem 1rem;
	font-weight: 600;
}

.breadcrumb-item {
	&.active {
		color: #ffffff9c;
	}

	+ .breadcrumb-item::before {
		float: left;
		padding-right: 0.5rem;
		color: #ffffff9c;
		content: var(--bs-breadcrumb-divider, "/") /* rtl: var(--bs-breadcrumb-divider, "/") */;
	}
}
