@import "bootstrap/scss/buttons";

.btn-minimal {
  background-color: rgba($primary, 0.03);
  border: 1px solid rgba($primary, 0.05);
  color: rgba($primary, 0.75);

  &:hover {
    background-color: rgba($primary, 0.065);
    border: 1px solid rgba($primary, 0.1);
    color: rgba($primary, 1);
  }
}